@use "../../styles/mixins.scss" as *;

.login-mobile {
    width: 100%;
    height: 100dvh;
    background-color: #00141c;
    color: white;
    .loginContainer {
        width: 100%;
        height: 100%;
        padding: 10px;
        .entete {
            width: 100%;
            height: 55%;
            @include dflex(start, start);
            position: relative;
            border-radius: 20px;
            overflow: hidden;
            .back {
                width: 90px;
                height: 35px;
                margin: 10px 0 0 10px;
                @include dflex(center, center, 5px);
                background-color: rgba(#797979, 0.6);
                font-family: "ClashGrotesk-Medium";
                color: white;
                border: none;
                cursor: pointer;
                border-radius: 20vw;
                z-index: 10;
                img {
                    width: 15px;
                    height: auto;
                    transform: rotate(135deg);
                    filter: invert(1);
                }
            }
            .Bg {
                @include positionTopLeft(0, 0);
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .form {
            width: 100%;
            height: 45%;
            @include dflex(center, center);
            .form-container {
                width: 90%;
                height: 90%;
                @include dflex(start, center, 1vh, column);
                .form-container-header {
                    width: 100%;
                    // height: 20%;
                    @include dflex(start, start);
                    h1 {
                        font-size: 10vw;
                        font-weight: 600;
                        color: #ffffff;
                        font-family: "ClashGrotesk-Regular";
                    }
                }
                .form-container-header-center {
                    @include dflex(center, center);
                    width: 100%;
                    h1 {
                        font-size: 10vw;
                        font-weight: 600;
                        color: #ffffff;
                        font-family: "ClashGrotesk-Regular";
                    }
                }
                .form-container-body {
                    width: 100%;
                    height: 100%;
                    // background-color: red;
                    @include dflex(center, end, 1vh, column);
                    .page {
                        width: 100%;
                        height: 100%;
                        @include dflex(center, center, 1vh, column);
                        input {
                            width: 100%;
                            height: 5vh;
                            @include dflex(center, center);
                            border-radius: 5px;
                            cursor: pointer;
                            font-size: 15px;
                            font-weight: 500;
                            color: #ffffff;
                            font-family: "ClashGrotesk-Regular";
                            padding: 0 10px;
                            background-color: transparent;
                            border: 1px solid #ffffff;
                            &::placeholder {
                                color: #ffffff;
                                font-size: 15px;
                                font-weight: 500;
                                font-family: "ClashGrotesk-Regular";
                            }
                        }
                        select {
                            width: 100%;
                            height: 5vh;
                            @include dflex(center, center);
                            border-radius: 5px;
                            border: 1px solid #ffffff;
                            cursor: pointer;
                            font-size: 15px;
                            font-weight: 500;
                            color: #ffffff;
                            font-family: "ClashGrotesk-Regular";
                            padding: 0 10px;
                            background-color: transparent;
                        }
                    }
                    button {
                        width: 90%;
                        height: 7vh;
                        @include dflex(center, center);

                        border-radius: 7px;
                        border: none;
                        cursor: pointer;
                        font-size: 15px;
                        font-weight: 600;
                        color: #000000;
                        font-family: "ClashGrotesk-Regular";
                        background-color: white;
                    }
                    p {
                        font-size: 13px;
                        font-weight: 600;
                        text-align: center;
                        color: #ffffff;
                        font-family: "ClashGrotesk-Light";
                        a {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}
