@use "../../styles/mixins.scss" as *;

.navbar-container {
    position: fixed;
    top: 2vw;
    left: 0;
    right: 0;
    z-index: 1000;
    @include dflex(center, center);
}

.nav-links {
    padding: 0.4vw;
    padding-left: 1.4vw;
    padding-right: 1.4vw;
    width: fit-content;
    border-radius: 11.24px;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);

    ul {
        @include dflex(center, center, 0.5vw);
        padding: 0.1vw;
        margin: 0;
        position: relative;

        .select {
            position: absolute;
            height: 80%;
            background-color: #fff;
            border-radius: 8px;
            transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
            z-index: 0;
            pointer-events: none;
            opacity: 0;
        }

        li {
            list-style: none;
            z-index: 1;
            a {
                @include dflex(center, center);
                font-family: "ClashGrotesk-Medium", sans-serif;
                text-decoration: none;
                color: #fff;
                transition: color 0.4s ease;
                padding: 0.5vw 1.5vw;
                border-radius: 8px;
                transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
                font-size: 1vw;
                white-space: nowrap;

                &:hover:not(.active) {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                &.active {
                    color: #000;
                    font-weight: 500;
                }
            }
        }
    }
}

.nav-login {
    position: absolute;
    right: 2vw;
    padding: 0.4vw;
    padding-left: 1.4vw;
    padding-right: 1.4vw;
    width: fit-content;
    border-radius: 11.24px;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);

    .login-btn {
        @include dflex(center, center);
        font-family: "ClashGrotesk-Medium", sans-serif;
        text-decoration: none;
        color: #fff;
        padding: 0.5vw 1.5vw;
        font-size: 1vw;
        white-space: nowrap;
        transition: all 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
    }
}
