@use "../../styles/mixins.scss" as *;
footer {
    @include dflex(center, center, 0, column);
    background-color: #fff5e4;
    width: 100%;
    height: 100vh;
    .container {
        width: 100%;
        height: 100%;
        @include dflex(center, center);
    }
}
