@use "../../styles/mixins.scss" as *;

.indexMobile {
    width: 100%;
    height: auto;
    background-color: #191919;

    .hero {
        width: 100%;
        height: 100dvh;
        @include dflex(center, center);
        position: relative;
        .hero-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            @include positionTopLeft(50%, 50%, -50%, -50%);
            z-index: 1;
        }
        .hero-content {
            width: 100%;
            height: 100%;
            @include dflex(center, end, 1dvh, column);
            padding: 2vh 0;
            z-index: 2;
            h1 {
                font-size: 13vw;
                font-weight: 600;
                color: #ffffff;
            }
            p {
                font-size: 3.5vw;
                font-weight: 400;
                color: #ffffff;
            }
            button {
                width: 80vw;
                height: 70px;
                @include dflex(center, center);
                background-color: transparent;
                border: none;
                cursor: pointer;
                span {
                    color: #00141c;
                    font-size: 4.5vw;
                    font-weight: 600;
                    background-color: #ffffff;
                    border-radius: 20vw;
                    height: 70px;
                    width: 100%;
                    @include dflex(center, center);
                    &:last-child {
                        width: 90px;
                        height: 70px;
                        background-color: white;
                        @include dflex(center, center);
                        border-radius: 50%;
                        img {
                            width: 50%;
                            height: auto;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
    .carroussel {
        width: 100vw;
        height: 100%;
        padding: 5vh 0;
        @include dflex(start, start, 2vh, column);
        // background-color: red;
        .carroussel-content {
            width: 90%;
            height: 50%;
            margin: 2vh auto;
            background-color: #222222;
            border-radius: 4vw;
            padding: 2vh 2vw;
            h2 {
                font-size: 10vw;
                font-weight: 600;
                color: #ffffff;
                font-family: "ClashGrotesk-Regular";
            }
            .grid {
                width: 100%;
                height: 100%;
                @include dgrid(2, 1fr);
                position: relative;
                .card {
                    width: 100%;
                    height: 100%;
                    padding: 5vh 0;
                    @include dflex(center, center, 0, column);
                    h4 {
                        font-size: 10vw;
                        font-weight: 600;
                        color: #ffffff;
                    }
                    p {
                        font-size: 3.5vw;
                        font-weight: 400;
                        color: #ffffff;
                    }
                }
                hr {
                    width: 90%;
                    height: 1px;
                    background-color: #ffffff;
                    &.hr1 {
                        @include positionTopLeft(50%, 50%, -50%, -50%);

                        height: 100%;
                        width: 0;
                    }
                    &.hr2 {
                        // transform: rotate(90deg);
                        @include positionTopLeft(50%, 50%, -50%, -50%);
                        width: 90%;
                    }
                }
            }
        }
    }
    .vote {
        height: 100dvh;
        @include dflex(center, center, 2vh, column);
        position: relative;
        .background {
            width: 90%;
            height: 90%;
            object-fit: cover;
            object-position: center;
            border-radius: 4vw;
            z-index: 1;
            @include positionTopLeft(50%, 50%, -50%, -50%);
        }
        .vote-container {
            width: 90%;
            height: 90%;
            z-index: 3;
            @include positionTopLeft(50%, 50%, -50%, -50%);
            @include dflex(start, space-between, 2vh, column);
            padding: 5vh 2vw;
            border-radius: 4vw;
            .content {
                @include dflex(start, center, 5vh, column);
                .content-Title {
                    h2 {
                        font-size: 10vw;
                        font-weight: 600;
                        color: #ffffff;
                        font-family: "ClashGrotesk-Regular";
                    }
                    p {
                        font-size: 5vw;
                        font-family: "ClashGrotesk-Light";
                        color: #ffffff;
                    }
                }
                .content-text {
                    @include dflex(center, center, 2vh, column);
                    p {
                        font-size: 5vw;
                        font-family: "ClashGrotesk-Light";
                        color: #ffffff;
                    }
                }
            }
            button {
                border-radius: 20vw;
                border: 1px solid #ffffff;
                background-color: transparent;
                cursor: pointer;
                @include dflex(center, center, 6vw);
                color: white;
                font-size: 5vw;
                font-weight: 600;
                height: 7dvh;
                padding: 0 2vw;
                img {
                    width: 10%;
                    height: auto;
                    object-fit: cover;
                    filter: invert(1);
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
