@use "../../styles/mixins.scss" as *;

.indexMobile {
    width: 100%;
    height: auto;
    background-color: #191919;

    .hero {
        width: 100%;
        height: 100dvh;
        @include dflex(center, center);
        position: relative;
        .hero-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            @include positionTopLeft(50%, 50%, -50%, -50%);
            z-index: 1;
        }
        .hero-content {
            width: 100%;
            height: 100%;
            @include dflex(center, end, 0, column);
            z-index: 2;
            h1 {
                font-size: 13vw;
                font-weight: 600;
                color: #ffffff;
            }
            p {
                font-size: 3.5vw;
                font-weight: 400;
                color: #ffffff;
            }
            button {
                width: 80vw;
                height: 70px;
                @include dflex(center, center);
                background-color: transparent;
                border: none;
                cursor: pointer;
                span {
                    color: #00141c;
                    font-size: 4.5vw;
                    font-weight: 600;
                    background-color: #ffffff;
                    border-radius: 20vw;
                    height: 70px;
                    width: 100%;
                    @include dflex(center, center);
                    &:last-child {
                        width: 90px;
                        height: 70px;
                        background-color: white;
                        @include dflex(center, center);
                        border-radius: 50%;
                        img {
                            width: 50%;
                            height: auto;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
    .carroussel {
        width: 100vw;
        height: 100%;
        padding: 5vh 0;
        @include dflex(start, start, 2vh, column);
        // background-color: red;
        .carroussel-content {
            width: 90%;
            height: 50%;
            margin: 2vh auto;
            background-color: #222222;
            border-radius: 4vw;
            padding: 2vh 2vw;
            h2 {
                font-size: 10vw;
                font-weight: 600;
                color: #ffffff;
                font-family: "ClashGrotesk-Regular";
            }
            .grid {
                width: 100%;
                height: 100%;
                @include dgrid(2, 1fr);
                .card {
                    width: 100%;
                    height: 100%;

                    padding: 5vh 0;
                    @include dflex(center, center, 0, column);
                    h4 {
                        font-size: 10vw;
                        font-weight: 600;
                        color: #ffffff;
                    }
                    p {
                        font-size: 3.5vw;
                        font-weight: 400;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
